:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

table, td, th {
  border: solid 1px black;
  border-collapse: collapse;
  padding: 0.5em 1em;
}

th {
  text-align: left;
}

.app-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app-layout__content {
  display: flex;
  flex-grow: 1;
}

.nav {
  border-right: solid 1px lightgray;
  padding: 1em;
}

.nav__logo {
  margin: 0;
  font-size: 2rem;
}

.link-list__item {
  margin-bottom: 1rem;
}

.link-list__item a {
  text-decoration: none;
  color: black;
}

.link-list__item a:hover {
  color: green;
}

.link-list__item a.active {
  color: green;
}

.footer {
  padding: 1em;
}

.weigth-table {
  margin-top: 1rem;
}

.dashboard {
  padding: 1em;
}

.backdrop {
  background: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.modal {
  position: fixed;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 2em;
  min-width: 600px;
}

.modal__title {
  margin-top: 0;
}

.form__group {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  margin-bottom: 1rem;
}

.input--text {
  padding: .5em 1em;
}

.form__actions {
  display: flex;
  justify-content: end;
  gap: 1rem;
  margin-top: 2rem;
}

.button {
  padding: .5em 1em;
  cursor: pointer;
  border: none;
  font-size: 1rem;
}

.button--danger {
  background-color: red;
  color: white;
}

.button--success {
  background-color: green;
  color: white;
}